<%- include("header") %> 

<h2>This is the about page</h2>

<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Assumenda quaerat
excepturi provident sint eveniet impedit corporis accusantium, nemo temporibus 
doloremque, veniam, illum officiis iure nihil molestias praesentium enim! Eum, odio.</p>

<%- include("footer") %> 